@import '../../styles/mixin.scss';

.App {
  @include flex-container(column);
  justify-content: flex-start;
  text-align: center;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(251,203,97,1) 100%);
  min-height: 100vh;
}