@import '../../styles/mixin.scss';

.App {
  @include flex-container(column);
  justify-content: flex-start;
  text-align: center;
  background: rgb(251,203,97);
  background: linear-gradient(180deg, rgba(251,203,97,1) 0%, rgba(255,255,255,1) 100%);min-height: 100vh;
}

.mainTitle {
  font-size: 1.5rem;
  margin: 10px 0;
}