@import '../../styles/mixin.scss';

.cover {
    max-width: 92px;
    grid-row: 1 / -1;
    border: 2px solid lightgray;
}

.resultsTable {
    width: 90%;
}

.resultRow {
    display: grid;
    grid-template-columns: 96px 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 10px;
    column-gap: 15px;
}

.title {
    justify-self: flex-start;
    align-self: flex-end;
    text-align: left;
    font-size: .8rem;
}

.actions {
    align-self: center;
    justify-self: flex-start;
}

.svg {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}